<html>
<meta http-equiv="Expires" content="0">
<meta http-equiv="Last-Modified" content="0">
<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/statics/css/bootstrap.min.css">
<link rel="stylesheet" href="/statics/css/app.css">
<script type="text/javascript" src="/statics/js/jquery-3.4.1.min.js"></script>
<script src="/statics/js/bootstrap.min.js"></script>
<script src="/statics/js/adapter-latest.js"></script>

<!--<h2 align=center>
    Play Stream {{ .suuid }}
</h2>-->
<div style = "width:100%; height:100%">
  <div style = "width:100%; height:100%">
    
        <div >
            <input type="hidden" name="suuid" id="suuid" value="{{ .suuid }}">
            <input type="hidden" name="port" id="port" value="{{ .port }}">
            <input type="hidden" id="localSessionDescription" readonly="true">
            <input type="hidden" id="remoteSessionDescription">
            <div id="remoteVideos" style = "width:100%; height:100%" >
              <video id="video" ></video>
            </div>
            <!--<button onclick="startSession()"> Start Session </button> -->
            <div id="div"/>
        
    </div>
</div>
<script type="text/javascript" src="/statics/js/app.js?ver={{ .version }}"></script>
</html>
<!--
<div class="list-group">
  {{ range .suuidMap }}
    <a href="/player/{{ . }}" id="{{ . }}" name="{{ . }}" class="list-group-item list-group-item-action">{{ . }}</a>
  {{ end }}
</div> -->
