div {
    width: 100%;
    height: 100%;
}
input{
    width: 0;
    height: 0;
}
.video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.root {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 56.25%;
}